{% extends 'base.html' %}
{% block content %}
<div class="message-box">
  <div class="banner">
    <div class="banner-buttons left">
      <button class="banner button menu" id="menu-button">&#9776;</button>
    </div>

    <div class="banner title">
      <div class="centered">
        <div>Chat Room</div>
        <div id="chat-room-code">{{code}}</div>
      </div>
    </div>
    <div class="banner-buttons right">
      <button class="banner button leave"><a id="leave-room" href="/">Leave Room</a></button>
    </div>
    <div id="side-menu" class="side-menu">
      <div id="side-menu-users">Users in chat</div>
      <ul>
        <li><a href="#">Needs to be added</a></li>
        <li><a href="#">Needs to be added</a></li>
        <li><a href="#">Needs to be added</a></li>
      </ul>
    </div>
  </div>
  <div class="messages" id="messages-container"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
      autofocus
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
<script type="text/javascript">
  var socketio = io();
  let user = "unassigned";
  const messagesContainer = document.getElementById("messages-container");

  const createMessage = (name, msg, isSelf) => {
    let alignmentClass;
    if(isSelf == undefined && user === "unassigned"){
        user = name;
    }
    if(name === user){
        alignmentClass = "self";
    }else{
        alignmentClass = "other";
    }
  const content = `
    <div class="text ${alignmentClass}">
        <div class="bubble ${alignmentClass}">
            <div class="message-content">
                <strong>${name}</strong>: ${msg}
            </div>
            <div class="timestamp ${alignmentClass}">
                ${new Date().toLocaleString()}
            </div>
        </div>
    </div>

    `;
  
  messagesContainer.innerHTML += content
  messagesContainer.scrollTop = messagesContainer.scrollHeight;
  	console.log("Dosao do close");
};

socketio.on("message", (data) => {
	console.log("otvorio socket");
  createMessage(data.name, data.message, data.is_self);
	console.log("zatvorio socket");
});

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
	console.log("Prije emit");
    socketio.emit("message", { data: message.value });
	console.log("Poslije emit");
    message.value = "";
  };

  // JavaScript to toggle the side menu
const menuButton = document.getElementById("menu-button");
const sideMenu = document.getElementById("side-menu");

menuButton.addEventListener("click", function () {
  if (sideMenu.style.width === "250px") {
    // Close the side menu
    sideMenu.style.color = "black";
    sideMenu.style.width = "0";
  } else {
    // Open the side menu
    sideMenu.style.color = "white";
    sideMenu.style.width = "250px";
  }
});

</script>
{% for msg in messages %}
<script type="text/javascript">
	console.log("Loading message");
  createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.is_self}}");
	console.log("Loaded message");
</script>
{% endfor %}
{% endblock %}
