{% extends 'base.html' %} {% block content %}
<div class="message-box">
  <div class="banner">
    <div class="banner-buttons left">
      <button class="banner button menu" id="menu-button">&#9776;</button>
    </div>

    <div class="banner title">
      <div class="centered">
        <div>Chat Room</div>
        <div id="chat-room-code">{{code}}</div>
      </div>
    </div>
    <div class="banner-buttons right">
      <button class="banner button leave" id="leave-room-btn">
        Leave Room
      </button>
    </div>
    <div id="side-menu" class="side-menu">
      <div id="side-menu-users">Users in chat</div>
      <ul id="user-list"></ul>
    </div>
  </div>
  <div class="messages" id="messages-container"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
      autofocus
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
  </div>
</div>
<script src="{{url_for('static', filename='js/wasm_exec.js')}}"></script>
<script>
  const go = new Go();  

  WebAssembly.instantiateStreaming(fetch(input="{{url_for('static', filename='wasm/encryption_in_go.wasm')}}"), 
      go.importObject).then((result) => {go.run(result.instance);
  });
</script>
<script type="text/javascript">
  sessionStorage.setItem('publicKey', '{{ public_key }}');
  let publicKey = sessionStorage.getItem('publicKey');
  let aesKey;


  let socketio;
  async function initializeSocketConnection(encryptedAesKeyBase64) {
    console.log(encryptedAesKeyBase64);
    socketio = io({ auth: { symmetric_key: encryptedAesKeyBase64 } });

    socketio.on("message", async (data) => {
      console.log(data.message);
      try{
        const decryptedMessage = await window.decryptMessageJS(data.message, aesKey);
        createMessage(data.name, decryptedMessage, data.is_self);
      } catch (e) {
        console.error("Error decrypting message:", e);
      }

      //createMessage(data.name, "usao", data.is_self);
    });

    socketio.on("update_user_list", (userList) => {
      const userListElement = document.getElementById("user-list");
      userListElement.innerHTML = ""; // Clear existing list
      userList.forEach((user) => {
        const userItem = document.createElement("li");
        userItem.textContent = user;
        userListElement.appendChild(userItem);
      });
    });
  }

  let user = "unassigned";
  const messagesContainer = document.getElementById("messages-container");

  const createMessage = (name, msg, isSelf) => {
    let alignmentClass;
    if (user === "unassigned") {
      user = name;
    }
    if (name == user) {
      alignmentClass = "self";
    } else {
      alignmentClass = "other";
    }
    const content = `
        <div class="text ${alignmentClass}">
            <div class="bubble ${alignmentClass}">
                <div class="message-content">
                    <strong>${name}</strong>: ${msg}
                </div>
                <div class="timestamp ${alignmentClass}">
                    ${new Date().toLocaleString()}
                </div>
            </div>
        </div>

        `;
      
      messagesContainer.innerHTML += content
      messagesContainer.scrollTop = messagesContainer.scrollHeight;
    };


    const sendMessage = async () => {
      const message = document.getElementById("message").value;
      if (message === "") return;

      const encryptedMessage = await window.encryptMessageJS(message, aesKey);  // aesKey should be stored securely
      socketio.emit("message", { data: encryptedMessage });
      document.getElementById("message").value = "";
    };

    // JavaScript to toggle the side menu
    const menuButton = document.getElementById("menu-button");
    const sideMenu = document.getElementById("side-menu");

    menuButton.addEventListener("click", function () {
      if (sideMenu.style.width === "250px") {
        // Close the side menu
        sideMenu.style.color = "black";
        sideMenu.style.width = "0";
      } else {
        // Open the side menu
        sideMenu.style.color = "white";
        sideMenu.style.width = "250px";
      }
    });


  const leaveRoomButton = document.getElementById("leave-room-btn");

  leaveRoomButton.addEventListener("click", function () {
    socketio.disconnect();
    window.location.href = "/";
  });

  async function setupChat() {
        // Timeout for wasm to load --> in the future wasm needs to load elsewhere
        await new Promise(resolve => setTimeout(resolve, 2000));

        // Example usage:
        const rsaPublicKey = sessionStorage.getItem('publicKey'); // Retrieve from session storage
        const encryptedAesKeyBase64 = window.generateAndEncryptAesKeyJS(rsaPublicKey);
        aesKey = window.getAesKeyJS();        
        
        // Initialize Socket.IO connection with the encrypted AES key
        await initializeSocketConnection(encryptedAesKeyBase64);
  }

  // Start setting up the chat when the page loads
  setupChat();
</script>

{% endblock %}
